.Body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.Body_Main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Body_Main_3 {
    height: 185vh;
    display: flex;
    justify-content: center;
    align-items: center;
}